@import "tailwindcss";


@font-face {
  font-family: "Nippo";
  src: url("/fonts/nippo/Nippo-Extralight.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Nippo";
  src: url("/fonts/nippo/Nippo-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Nippo";
  src: url("/fonts/nippo/Nippo-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Nippo";
  src: url("/fonts/nippo/Nippo-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Nippo";
  src: url("/fonts/nippo/Nippo-Bold.otf");
  font-weight: 700;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Nippo";
  font-weight: 700;
}